<section class="universities">
  <div class="universities-container">
    <div class="university-title">
      <h2>{{theme-setting "universities_title"}}</h2>
    </div>
    <div class="university-images">
      <a href="{{theme-setting "university_1_url"}}" target="_blank" rel="noopener">
        <img src="{{theme-setting "university_1_image"}}" alt="" />
      </a>
      <a href="{{theme-setting "university_2_url"}}" target="_blank" rel="noopener">
        <img src="{{theme-setting "university_2_image"}}" alt="" />
      </a>
      <a href="{{theme-setting "university_3_url"}}" target="_blank" rel="noopener">
        <img src="{{theme-setting "university_3_image"}}" alt="" />
      </a>
      <a href="{{theme-setting "university_4_url"}}" target="_blank" rel="noopener">
        <img src="{{theme-setting "university_4_image"}}" alt="" />
      </a>
      <a href="{{theme-setting "university_5_url"}}" target="_blank" rel="noopener">
        <img src="{{theme-setting "university_5_image"}}" alt="" />
      </a>
      <a href="{{theme-setting "university_6_url"}}" target="_blank" rel="noopener">
        <img src="{{theme-setting "university_6_image"}}" alt="" />
      </a>
    </div>
  </div>
</section>
