{{#if this.canDisplay}}
  <section class="partners stemaway-partners-section">
    <h2>{{theme-setting "partners_title"}}</h2>
    <div class="partners-images">
      <a href="{{theme-setting "partner_1_url"}}" target="_blank" rel="noopener">
        <img src="{{theme-setting "partner_1_image"}}" alt="" />
      </a>
      <a href="{{theme-setting "partner_2_url"}}" target="_blank" rel="noopener">
        <img src="{{theme-setting "partner_2_image"}}" alt="" />
      </a>
      <a href="{{theme-setting "partner_3_url"}}" target="_blank" rel="noopener">
        <img src="{{theme-setting "partner_3_image"}}" alt="" />
      </a>
      <a href="{{theme-setting "partner_4_url"}}" target="_blank" rel="noopener">
        <img src="{{theme-setting "partner_4_image"}}" alt="" />
      </a>
    </div>
  </section>
{{/if}}
